@using System.Globalization
@Model FW.GroupAlarm.StatusMonitor.Model.OrganizationTotalsModel
@{

}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2><span class="badge badge-success" style="width: 4rem;">@Model.TotalAvailable</span></h2>
            </div>
            <div class="col">
                <h2><span class="badge badge-info" style="width: 4rem;">@Model.TotalInEvent</span></h2>
            </div>
            <div class="col">
                <h2><span class="badge badge-danger" style="width: 4rem;">@Model.TotalNotAvailable</span></h2>
            </div>
            <div class="col">
                <h2><span class="badge badge-dark" style="width: 4rem;">@Model.TotalRegistrationPending</span></h2>
            </div>
        </div>
    </div>