@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    @(await Html.PartialAsync("_OrganizationTotalsTile", Model.OrganisationTotals))

    <div class="cardcontainer-fluid">
        <div class="row justify-content-center">
            @foreach (var organisationUnit in Model.OrganisationUnits)
            {
                @(await Html.PartialAsync("_OrganizationUnitTile", organisationUnit))
            }
        </div>
    </div>