@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @foreach (var organisationUnit in Model.OrganisationUnits)
    {
        @(await Html.PartialAsync("_OrganizationUnitTile", organisationUnit))
    }
</div>