@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@(await Html.PartialAsync("_OrganizationTotals", Model.OrganisationTotals))
@(await Html.PartialAsync("_OrganizationLabelTotals", Model.OrganisationTotals))

<div class="cardcontainer-fluid">
    <div class="row justify-content-center">
        @foreach (var organisationUnit in Model.OrganisationUnits)
        {
            @(await Html.PartialAsync("_OrganizationUnitTile", organisationUnit))
        }
    </div>
</div>